* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto Slab", serif;
  z-index: 2;
}

body {
  background: #fff;
  overflow-x: hidden;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  width: 100%;
  max-width: 1430px;
}

.transfer {
  display: block;
}

.header {
  position: relative;
  background-color: rgba(229, 239, 255, 0.21);
  background: filter-gradient(#e5efff, #e5efff, vertical);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(229, 239, 255, 0.21)), color-stop(15%, rgba(152, 128, 66, 0.28)), color-stop(85%, rgba(113, 104, 75, 0.18)), to(rgba(229, 239, 255, 0.18)));
  background: linear-gradient(to top, rgba(229, 239, 255, 0.21) 0%, rgba(152, 128, 66, 0.28) 15%, rgba(113, 104, 75, 0.18) 85%, rgba(229, 239, 255, 0.18) 100%);
  min-height: 1188px;
}

.header::before {
  content: "";
  background: url("../img/header/klipartz 1.png");
  height: 831px;
  width: 960px;
  position: absolute;
  top: 131px;
  right: 0;
  opacity: 0.35;
}

.header::after {
  content: "";
  background: url("../img/header/Vector.svg") no-repeat;
  height: 1666px;
  width: 1767px;
  max-width: 100%;
  position: absolute;
  left: 50%;
  bottom: 10px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0.4;
  z-index: 0;
}

.header_menu, .header_hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

.header_menu_contacts, .header_menu_contacts_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-display: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_menu_contacts_left_2 {
  margin: 0 64px;
}

.header_menu_contacts_left_link {
  color: #272D4E;
  font-size: 18px;
}

.header_menu_contacts_right {
  margin-left: 60px;
}

.header_menu_contacts_right_btn {
  padding-top: 11px;
  padding-right: 13px;
  padding-bottom: 12px;
  padding-left: 13px;
  background: #2D2825;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
}

.header_hero {
  margin-top: 55px;
}

.header_hero_left {
  max-width: 64%;
}

.header_hero_text_title {
  font-size: 85px;
  font-weight: 400;
  line-height: 95px;
  color: #272D4E;
}

.header_hero_text_title_bold {
  font-weight: 900;
  display: inline;
}

.header_hero_text_btn {
  margin-top: 31px;
  padding-top: 24px;
  padding-right: 95px;
  padding-bottom: 24px;
  padding-left: 89px;
  background: #534F4A;
  color: #fff;
  border-radius: 60px;
  font-size: 18px;
}

.features {
  position: relative;
  margin-top: -40px;
  padding-bottom: 90px;
}

.features_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features_info_title {
  font-weight: 700;
  font-size: 55px;
  color: #4A4F6A;
}

.features_info_statistics {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features_info_statistics::before {
  content: "";
  position: absolute;
  left: 0;
  height: 150px;
  width: 100%;
  background-color: rgba(227, 223, 212, 0);
  background: filter-gradient(#e3dfd4, #e3dfd4, vertical);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(227, 223, 212, 0)), color-stop(58%, rgba(227, 223, 212, 0.58)), to(rgba(227, 223, 212, 0)));
  background: linear-gradient(to top, rgba(227, 223, 212, 0) 0%, rgba(227, 223, 212, 0.58) 58%, rgba(227, 223, 212, 0) 100%);
}

.features_info_statistics_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 41px;
}

.features_info_statistics_block_title {
  font-weight: 800;
  font-size: 32px;
  color: #161C24;
}

.features_info_statistics_block_text {
  margin-top: 16px;
  font-weight: 800;
  font-size: 16px;
  color: #454F5B;
}

.features_slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 104px;
}

.features_slider_wrap_block {
  margin-top: 80px;
  max-width: 1435px;
}

.features_slider_title {
  font-weight: 800;
  font-size: 55px;
  color: #272D4E;
}

.features_slider_block {
  margin-left: 22px;
}

.features_slider_block_img {
  border-radius: 15px;
  max-width: 100%;
}

.features_slider_block_title {
  margin-top: 40px;
  font-size: 35px;
  font-weight: 700;
  color: #272D4E;
}

.features_slider_block_text {
  max-width: 430px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
  color: #94A2B3;
}

.features_slider .slick-dots button:before {
  margin-top: 89px;
  font-size: 25px;
  color: #544F4A;
  opacity: 1;
}

.features_slider .slick-dots li.slick-active button:before {
  opacity: 0.25;
}

.info {
  background: url(../img/info/section-bg.png) center center no-repeat;
  padding: 165px 0;
  z-index: 0;
}

.info_reply_1 {
  margin-left: 500px;
}

.info_reply_2 {
  margin-top: 200px;
  margin-left: 280px;
}

.info_reply_title {
  font-size: 36px;
  color: #fff;
}

.info_reply_text {
  font-size: 18px;
  line-height: 35px;
  color: #fff;
}

.info_reply_text_wrap {
  margin-top: 41px;
}

.testimonials {
  background-color: rgba(226, 220, 204, 0);
  background: filter-gradient(#e2dccc, #e2dccc, vertical);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(226, 220, 204, 0)), color-stop(14%, rgba(226, 220, 204, 0.53)), color-stop(50%, #e1e2cc), color-stop(88%, rgba(226, 220, 204, 0)), to(rgba(226, 220, 204, 0)));
  background: linear-gradient(to top, rgba(226, 220, 204, 0) 0%, rgba(226, 220, 204, 0.53) 14%, #e1e2cc 50%, rgba(226, 220, 204, 0) 88%, rgba(226, 220, 204, 0) 100%);
  padding-top: 140px;
  padding-bottom: 120px;
}

.testimonials_title {
  text-align: center;
  font-size: 55px;
  font-weight: 700;
  color: #272D4E;
}

.testimonials_title_wrap {
  position: relative;
}

.testimonials_title_wrap::after {
  content: "";
  position: absolute;
  left: 139px;
  bottom: -180px;
  height: 154px;
  width: 154px;
  background: url("../img/testimonials/Ellipse 1.png") no-repeat;
}

.testimonials_title_wrap::before {
  content: "";
  position: absolute;
  bottom: -145px;
  right: 160px;
  height: 154px;
  width: 154px;
  background: url("../img/testimonials/Ellipse 2.png") no-repeat;
}

.testimonials_slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonials_slider::after {
  content: "";
  position: absolute;
  left: -147px;
  bottom: 393px;
  height: 154px;
  width: 154px;
  background: url("../img/testimonials/Ellipse 3.png") no-repeat;
}

.testimonials_slider::before {
  content: "";
  position: absolute;
  bottom: 342px;
  right: -20px;
  height: 154px;
  width: 154px;
  background: url("../img/testimonials/Ellipse 4.png") no-repeat;
}

.testimonials_slider_wrap {
  margin-top: 173px;
  position: relative;
}

.testimonials_slider_wrap::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 50px;
  height: 154px;
  width: 154px;
  background: url("../img/testimonials/Ellipse 5.png") no-repeat;
}

.testimonials_slider_wrap::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 90px;
  height: 154px;
  width: 154px;
  background: url("../img/testimonials/Ellipse 6.png") no-repeat;
}

.testimonials_slider_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin: 0 400px;
  padding-top: 66px;
  padding-right: 25px;
  padding-bottom: 280px;
  padding-left: 25px;
}

.testimonials_slider_block::after {
  content: "";
  position: absolute;
  height: 150%;
  max-height: 450px;
  width: 150%;
  max-width: 732px;
  top: 20px;
  left: -50px;
  background: #fff;
  background: url("../img/testimonials/testim.png") no-repeat;
  background-size: contain;
  z-index: -1;
}

.testimonials_slider_block_text {
  width: 150%;
  max-width: 570px;
  min-height: 273px;
  text-align: center;
  font-size: 26.7px;
  font-weight: 700;
  line-height: 39.5px;
  color: #94A2B3;
}

.testimonials_slider_block_text::after {
  content: "";
  background: url("../img/testimonials/Group 5.png") no-repeat;
  position: absolute;
  left: -167px;
  bottom: 85px;
  height: 214px;
  width: 473px;
  z-index: -1;
}

.testimonials_slider_block_text::before {
  content: "";
  background: url("../img/testimonials/Group 5.png") no-repeat;
  position: absolute;
  top: 60px;
  right: -210px;
  height: 214px;
  width: 473px;
  z-index: -1;
}

.testimonials_slider_arrow {
  position: absolute;
  bottom: 100px;
  font-size: 50px;
  color: #000;
  opacity: 0.35;
  z-index: 3;
}

.testimonials_slider_arrow:hover {
  bottom: 95px;
  font-size: 65px;
  opacity: 1;
}

.testimonials_slider_arrow_left {
  right: 500px;
}

.testimonials_slider_arrow_right {
  right: 420px;
}

.faq {
  margin-top: -50px;
  padding-bottom: 165px;
  background: url("../img/faq/FAQ_bg.png") right bottom no-repeat;
}

.faq_title {
  text-align: center;
  font-size: 55px;
  font-weight: 700;
  color: #272d4E;
}

.faq_answer {
  margin-top: 55px;
  max-width: 1100px;
}

.faq_answer_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.faq_answer_title {
  position: relative;
  font-size: 36px;
  font-weight: 700;
  color: #272D4E;
}

.faq_answer_title::after {
  content: "";
  position: absolute;
  left: -63px;
  bottom: 0;
  background: url("../img/faq/Vector.svg") no-repeat;
  height: 42px;
  width: 42px;
}

.faq_answer_text {
  margin-top: 20px;
  font-size: 20px;
  line-height: 32px;
  color: #000;
}

.cta {
  position: relative;
  padding: 95px 0;
  background: #2D2825;
}

.cta_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cta_wrap::after {
  content: "";
  position: absolute;
  right: 30px;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  background: url("../img/cta/Mask Group.png") no-repeat;
  height: 245px;
  width: 260px;
}

.cta_wrap::before {
  content: "";
  position: absolute;
  bottom: 50%;
  left: 150px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  background: url("../img/cta/Mask Group 2.png") no-repeat;
  height: 240px;
  width: 330px;
}

.cta_title {
  font-size: 36px;
  font-weight: 500;
  color: #fff;
}

.cta_title_wrap {
  margin-left: 175px;
}

.cta_btn {
  border-radius: 60px;
  padding: 24px 22px;
  background: transparent;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
}

.footer_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_copy {
  font-size: 12px;
  font-weight: 300;
  color: #272D4E;
}

.footer_img_wrap_icon {
  margin-left: 40px;
}

.popup {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
}

.popup::before {
  content: "";
  height: 101%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.8;
  z-index: 4;
}

.popup_close {
  position: absolute;
  top: -170px;
  right: -105px;
  height: 50px;
  width: 50px;
  background: transparent;
}

.popup_close::before {
  content: "";
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #fff;
}

.popup_close::after {
  content: "";
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: #fff;
}

.popup_content {
  max-height: 800px;
  max-width: 800px;
  background: #fff;
  padding: 120px 50px;
  border-radius: 7px;
  z-index: 5;
}

.popup_content_wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup_content_title {
  margin-top: 20px;
  color: #272D4E;
  text-align: center;
  font-size: 40px;
}

.popup_content_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup_content_form_ansver {
  position: absolute;
  top: -18px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  padding: 5px;
  background: #fff;
  font-size: 18px;
  z-index: 5;
}

.popup_content_form_ansver_name {
  width: 50%;
}

.popup_content_form_field {
  border: 1px solid #000;
  border-radius: 6px;
  font-size: 32px;
  padding-left: 10px;
}

.popup_content_form_wrap {
  position: relative;
  margin-top: 50px;
}

.popup_content_form_btn {
  margin-top: 50px;
  padding: 10px 60px;
  background: transparent;
  color: #272D4E;
  font-size: 20px;
  border: 1px solid #000;
  border-radius: 25px;
}

@media (max-width: 1700px) {
  .container {
    max-width: 1110px;
  }
  .header_menu_img {
    max-width: 33%;
  }
  .header_menu_img img {
    width: 100%;
  }
  .header_hero {
    margin-top: 75px;
  }
  .header_hero_text_title {
    font-size: 65px;
  }
  .header_hero_right {
    max-width: 30%;
  }
  .testimonials_slider_block {
    margin: 0 240px;
    width: 100%;
  }
  .testimonials_slider_block::after {
    width: 220%;
  }
  .testimonials_slider_block_text {
    width: 220%;
  }
  .testimonials_slider_block_text::before {
    right: -170px;
  }
  .testimonials_slider::before {
    display: none;
  }
  .testimonials_slider::after {
    display: none;
  }
  .testimonials_slider_wrap::before {
    display: none;
  }
  .testimonials_slider_wrap::after {
    display: none;
  }
  .testimonials_slider_arrow_left {
    right: 380px;
  }
  .testimonials_slider_arrow_right {
    right: 300px;
  }
  .testimonials_title_wrap::after {
    display: none;
  }
  .testimonials_title_wrap::before {
    display: none;
  }
  .info_reply_1 {
    margin-left: 410px;
  }
  .info_reply_2 {
    margin-left: 200px;
  }
  .faq {
    padding-bottom: 190px;
  }
  .cta_title {
    font-size: 30px;
  }
  .cta_title_wrap {
    margin-left: 0;
  }
  .cta_wrap::after {
    right: 0;
  }
  .cta_wrap::before {
    left: 0;
  }
}

@media (max-width: 1350px) {
  .container {
    max-width: 962px;
  }
  .header {
    min-height: 700px;
  }
  .header::before {
    display: none;
  }
  .header::after {
    display: none;
  }
  .header_hero_left {
    max-width: 85%;
  }
  .header_hero_right {
    display: none;
  }
  .features_slider_block {
    margin-left: 0;
  }
  .info_reply_1 {
    margin-left: 260px;
  }
  .info_reply_2 {
    margin-left: 60px;
  }
  .faq {
    background-position: bottom center;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 735px;
  }
  .header {
    min-height: 660px;
  }
  .header_menu_img {
    display: none;
  }
  .header_menu_contacts_left_2 {
    margin: 0 80px;
  }
  .header_menu_contacts_right {
    margin-left: 80px;
  }
  .header_hero_text_title {
    font-size: 55px;
  }
  .features_info_title {
    font-size: 40px;
  }
  .features_info_statistics_block_text {
    text-align: center;
  }
  .features_slider_title {
    font-size: 45px;
  }
  .features_slider_block {
    margin-left: 20px;
  }
  .info_reply_1 {
    margin-left: 200px;
  }
  .testimonials_slider_block {
    margin: 0 50px;
  }
  .testimonials_slider_block_text::after {
    display: none;
  }
  .testimonials_slider_block_text::before {
    display: none;
  }
  .cta_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cta_wrap::after {
    display: none;
  }
  .cta_wrap::before {
    display: none;
  }
  .cta_btn_wrap {
    margin-top: 30px;
  }
  .footer_img_wrap_icon {
    display: none;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 570px;
  }
  .header {
    min-height: 590px;
  }
  .header_menu_contacts_left_2 {
    margin: 0 40px;
  }
  .header_menu_contacts_right {
    margin-left: 50px;
  }
  .header_hero {
    margin-top: 53px;
  }
  .header_hero_left {
    max-width: 100%;
  }
  .header_hero_text_title {
    font-size: 67px;
    line-height: 65px;
  }
  .features_info_title {
    font-size: 33px;
  }
  .features_slider_block_title {
    font-size: 31px;
  }
  .features .slick-dots button::before {
    margin-top: 60px;
  }
  .info {
    background: #2D2825;
    padding: 100px 0;
  }
  .info_reply {
    margin-left: 0;
  }
  .info_reply_2 {
    margin-top: 80px;
  }
  .testimonials {
    padding-top: 100px;
    padding-bottom: 170px;
  }
  .testimonials_slider_wrap {
    margin-top: 70px;
  }
  .testimonials_slider_block {
    margin: 0 1px;
    padding: 60px 25px;
    background: #fff;
    border-radius: 10px;
  }
  .testimonials_slider_block::after {
    display: none;
  }
  .testimonials_slider_block_text {
    max-width: 530px;
  }
  .testimonials_slider_arrow {
    bottom: -60px;
  }
  .testimonials_slider_arrow_left {
    right: 300px;
  }
  .testimonials_slider_arrow_right {
    right: 220px;
  }
  .testimonials_slider_arrow:hover {
    bottom: -60px;
    font-size: 50px;
    opacity: 0.35;
  }
  .faq {
    margin-top: 0;
    padding-bottom: 100px;
    background: #fff;
  }
  .faq_answer_title::after {
    display: none;
  }
  .cta {
    padding: 85px 0;
  }
  .cta_title {
    font-size: 27px;
  }
  .popup_content {
    padding: 100px 20px;
  }
  .popup_content_title {
    font-size: 30px;
  }
  .popup_content_form_field {
    font-size: 28px;
  }
  .popup_content_form_ansver_name {
    width: 59%;
  }
  .popup_close {
    top: -150px;
    right: -80px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 430px;
  }
  .header {
    min-height: 555px;
  }
  .header_menu, .header_hero {
    margin-top: 20px;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .header_menu_img {
    display: block;
    max-width: 50%;
  }
  .header_menu_contacts_left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    margin-top: 20px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .header_menu_contacts_right {
    margin-left: 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .header_hero_text_title {
    font-size: 41px;
    line-height: 56px;
  }
  .features {
    margin-top: -18px;
  }
  .features_info_title {
    font-size: 25px;
  }
  .features_info_statistics {
    margin-top: 30px;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
  .features_info_statistics_block {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
    margin: 13px 0;
  }
  .features_slider {
    margin-top: 70px;
  }
  .features_slider_title {
    font-size: 30px;
  }
  .features_slider_block_title {
    font-size: 20px;
  }
  .features_slider_block_text {
    margin-top: 10px;
  }
  .info_reply_title {
    font-size: 25px;
  }
  .info_reply_text_wrap {
    margin-top: 20px;
  }
  .testimonials {
    padding-top: 80px;
    padding-bottom: 140px;
  }
  .testimonials_title {
    font-size: 25px;
  }
  .testimonials_slider_wrap {
    margin-top: 50px;
  }
  .testimonials_slider_block {
    padding: 40px 25px;
  }
  .testimonials_slider_block_text {
    max-width: 381px;
    font-size: 18px;
  }
  .testimonials_slider_arrow_left {
    right: 50%;
  }
  .testimonials_slider_arrow_right {
    right: 35%;
  }
  .faq {
    padding-bottom: 60px;
  }
  .faq_title {
    font-size: 25px;
  }
  .faq_answer {
    margin-top: 40px;
  }
  .faq_answer_title {
    font-size: 20px;
  }
  .faq_answer_text {
    margin-top: 10px;
    font-size: 18px;
  }
  .cta_title {
    font-size: 20px;
  }
  .popup_content {
    padding: 50px 15px;
  }
  .popup_content_title {
    font-size: 23px;
  }
  .popup_content_form_field {
    font-size: 20px;
  }
  .popup_content_form_ansver {
    font-size: 17px;
  }
  .popup_content_form_ansver_name {
    width: 80%;
  }
  .popup_content_form_wrap {
    margin-top: 40px;
  }
  .popup_content_form_btn {
    margin-top: 30px;
  }
  .popup_close {
    top: -100px;
    right: -60px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 240px;
  }
  .header {
    min-height: 515px;
  }
  .header_menu, .header_hero {
    margin-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }
  .header_menu_img {
    display: none;
  }
  .header_menu_contacts_left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header_menu_contacts_left_2 {
    margin: 10px 0;
  }
  .header_menu_contacts_left_link {
    font-size: 16px;
  }
  .header_menu_contacts_left_btn {
    font-size: 16px;
  }
  .header_menu_contacts_right {
    margin-top: 10px;
  }
  .header_hero {
    margin-top: 20px;
  }
  .header_hero_text_title {
    font-size: 31px;
    line-height: 40px;
  }
  .header_hero_text_btn {
    font-size: 16px;
    padding: 23px 40px;
  }
  .features_info_statistics {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .features_slider_title {
    text-align: center;
  }
  .testimonials_slider_block {
    padding: 30px 20px;
  }
  .testimonials_slider_block_text {
    max-width: 200px;
  }
  .testimonials_slider_arrow_right {
    right: 25%;
  }
  .footer_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .footer_copy {
    margin-top: 15px;
  }
  .popup_content_form_ansver {
    top: -19px;
    padding: 0 2px;
  }
  .popup_content_form_ansver_name {
    width: 75%;
  }
  .popup_close {
    right: 0;
  }
}
/*# sourceMappingURL=main.css.map */